<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<style type="text/css">
		.news{
			width: 300px;
			height: 200px;
			border: 1px solid gray;
			background-color: black;
			color: white;
		}
		.news p{
			border: 1px solid blue;
		}
		</style>
	</head>
	<body>
		<div id="box">
			<horse></horse>
		</div>		
	</body>
	<script src="js/vue.min.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		Vue.component("horse",{
			template:`
				<div>
					<button @click="tab = 'sports'">体育</button>
					<button @click="tab = 'happy'">娱乐</button>
					<button @click="tab = 'war'">军事</button>
					<div class="news" v-if="tab == 'sports'">
						<p v-for="item in sports">{{item.msg}}</p>
					</div>
					<div class="news" v-else-if="tab == 'happy'">
						<p v-for="item in happy">{{item.msg}}</p>
					</div>
					<div class="news" v-else="">
						<p v-for="item in war">{{item.msg}}</p>
					</div>
				</div>
			`,
			data(){
				return{
					sports:[
						{msg:"官方实力榜:连胜神队力压勇士 骑士升至第13位"},
						{msg:"劳伦斯奖候选名单出笼 人气奖孙杨PK宁泽涛张继科"},
						{msg:"四主将集体伤缺 男篮红队12人名单或提前出炉"},
					],
					happy:[
						{msg:"奚梦瑶意外摔跤道歉 维密高管鼓励 众星齐送祝福"},
						{msg:"张靓颖晒蕾哈娜照片称自拍 疑回应被王思聪认错"},
						{msg:"刘嘉玲合影钟汉良郑恺 张艺谋搂妻恩爱看维密 奶茶妹妹等观秀"}
					],					
					war:[
						{msg:"英媒:中国将造出新武器14分钟飞抵美海岸"},
						{msg:"美刚要求禁售彩虹5 中国又推出一无人机引多国垂涎"},
						{msg:"歼10首次在南亚高原炫技 出口巴铁可能性仍然存在"}
					],
					tab:"sports"
				}
			}
		})
		new Vue({
			el:"#box"
		})
	</script>
</html>
