<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="css/iview.css"/>
	</head>
	<body>
		<div id="app">
			<template>
			    <Button>Default</Button>
			    <!--<button type="primary">Primary</button>
			    <Button type="ghost">Ghost</Button>
			    <Button type="dashed">Dashed</Button>
			    <Button type="text">Text</Button>
			    <br><br>-->
			    <Button type="info">Info</Button>
			    <Button type="success">Success</Button>
			    <Button type="warning">Warning</Button>
			    <Button type="error">Error</Button>
			</template>
			
			
			<template>
			    <Input v-model="value4" icon="ios-clock-outline" placeholder="Enter something..." style="width: 200px"></Input>
			</template>
			
			
			<template>
			    <RadioGroup v-model="phone">
			        <Radio label="apple">
			            <Icon type="social-apple"></Icon>
			            <span>Apple</span>
			        </Radio>
			        <Radio label="android">
			            <Icon type="social-android"></Icon>
			            <span>Android</span>
			        </Radio>
			        <Radio label="windows">
			            <Icon type="social-windows"></Icon>
			            <span>Windows</span>
			        </Radio>
			    </RadioGroup>
			    <RadioGroup v-model="animal">
			        <Radio label="金斑蝶"></Radio>
			        <Radio label="爪哇犀牛"></Radio>
			        <Radio label="印度黑羚"></Radio>
			    </RadioGroup>
			</template>
		</div>
	</body>
	<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/iview.min.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		new Vue({
			el:"#app",
			data:{
				value4:"",
				phone: "apple",
                animal: "爪哇犀牛"
			},
			 export  : {
			 	default:""
			 }
		})
	</script>
</html>
